<ion-header>
  <ion-navbar>
    <ion-title>
      How It Works
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row style="background: #fff">
      <ion-col>
        <img style="width: 70%;float: right;" src="http://valuebit.lokhittrust.in/public/images/home/how-it-works-line.png" />
      </ion-col>
      <ion-col col-4>
        <img src="http://valuebit.lokhittrust.in/public/images/icon/registration.png" />
      </ion-col>
    </ion-row>
    <ion-row style="background: #fff">
      <ion-card>
        <ion-row>
          <ion-col col-4>
            <img src="http://valuebit.lokhittrust.in/public/images/icon/verification.png">
          </ion-col>
          <ion-col>
            <ion-card-header>
              <ion-title>
                <span style="color: #000; font-size: 2.4rem;">Registration</span>
              </ion-title>
            </ion-card-header>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-card-content style="text-align: justify">
              On the home page, enter a valid email id and password of your choice and hit CREATE ACCOUNT button. A validation email with
              a link will be sent to the email id entered, once clicked on the link to verify your email, you will be directed
              back to valuebit.com to continue with the registration process. Please read and accept the terms and conditions
              to complete your registration.
            </ion-card-content>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-row>
    <ion-row style="background: #fff">
      <ion-card>
        <ion-row>
          <ion-card-header>
            <ion-title>
              <span style="color: #000; font-size: 2.4rem;">Verification</span>
            </ion-title>
          </ion-card-header>
          <ion-card-content style="text-align: justify">
            On the home page, enter a valid email id and password of your choice and hit CREATE ACCOUNT button. A validation email with
            a link will be sent to the email id entered, once clicked on the link to verify your email, you will be directed
            back to valuebit.com to continue with the registration process. Please read and accept the terms and conditions
            to complete your registration.
          </ion-card-content>
        </ion-row>
        <ion-row>
          <ion-col>
            <img style="width: 70%;float: right;" src="http://valuebit.lokhittrust.in/public/images/home/how-it-works-line.png" />
          </ion-col>
          <ion-col col-4>
            <img src="http://valuebit.lokhittrust.in/public/images/icon/genrate.png">
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-row>
    <ion-row style="background: #fff">
      <ion-card>
        <ion-row>
          <ion-col col-4>
            <img src="http://valuebit.lokhittrust.in/public/images/icon/verification.png">
          </ion-col>
          <ion-col>
            <!-- <ion-card-header>
              <ion-title> -->
                <span style="color: #000; font-size: 2.4rem;font-weight: 500;">Generate Crypto Address</span>
              <!-- </ion-title>
            </ion-card-header> -->
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-card-content style="text-align: justify">
              On the home page, enter a valid email id and password of your choice and hit CREATE ACCOUNT button. A validation email with
              a link will be sent to the email id entered, once clicked on the link to verify your email, you will be directed
              back to valuebit.com to continue with the registration process. Please read and accept the terms and conditions
              to complete your registration.
            </ion-card-content>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-row>
    <ion-row style="background: #fff">
      <ion-card>
        <ion-row>
          <ion-card-header>
            <ion-title>
              <span style="color: #000; font-size: 2.4rem;">Fiat Wallet</span>
            </ion-title>
          </ion-card-header>
          <ion-card-content style="text-align: justify">
            On the home page, enter a valid email id and password of your choice and hit CREATE ACCOUNT button. A validation email with
            a link will be sent to the email id entered, once clicked on the link to verify your email, you will be directed
            back to valuebit.com to continue with the registration process. Please read and accept the terms and conditions
            to complete your registration.
          </ion-card-content>
        </ion-row>
        <ion-row>
          <ion-col>
            <img style="width: 70%;float: right;" src="http://valuebit.lokhittrust.in/public/images/home/how-it-works-line.png" />
          </ion-col>
          <ion-col col-4>
            <img src="http://valuebit.lokhittrust.in/public/images/icon/2actor.png">
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-row>
    <ion-row style="background: #fff">
      <ion-card>
        <ion-row>
          <ion-col col-4>
            <img src="http://valuebit.lokhittrust.in/public/images/icon/notifications.png">
          </ion-col>
          <ion-col>
           
                <p style="color: #000; font-size: 2.4rem; font-weight: 500;"><b>Two Factor Authentication</b></p>
             
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-card-content style="text-align: justify">
              On the home page, enter a valid email id and password of your choice and hit CREATE ACCOUNT button. A validation email with
              a link will be sent to the email id entered, once clicked on the link to verify your email, you will be directed
              back to valuebit.com to continue with the registration process. Please read and accept the terms and conditions
              to complete your registration.
            </ion-card-content>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-row>
    <ion-row style="background: #fff">
      <ion-card>
        <ion-card-header>
          <ion-title>
            <span style="color: #000; font-size: 2.4rem;">Notifications</span>
          </ion-title>
        </ion-card-header>
        <ion-card-content style="text-align: justify">
          On the home page, enter a valid email id and password of your choice and hit CREATE ACCOUNT button. A validation email with
          a link will be sent to the email id entered, once clicked on the link to verify your email, you will be directed
          back to valuebit.com to continue with the registration process. Please read and accept the terms and conditions
          to complete your registration.
        </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>