currencytradegraph {
    .segment-md-dark .segment-button.activated, .segment-md-dark .segment-button.segment-activated{
        border-color: #38bf9a;
        color: #38bf9a;
      }
    
      .segment-md-dark .segment-button{
        color: #ccc;
      }
      .fixed-content {
        background: #fff;
      }
}
