page-currencyaddress {
        .error_msg_style{
            text-align: center;
            position: relative;
            top:50%;
            color:#fff;
        }
        .card-md{
            border-radius: 8px;
        }
}
