<ion-card class="cardBackground">
  <ion-card-content>
    <ion-row>
      <ion-col col-2 class="icon-container btc">
        <img class="coinIcon" src="assets/imgs/cryptoicn/btc.png">
      </ion-col>
      <ion-col col-10 text-center>
        <ion-row>
          <ion-col>
            <div style="float:right;">00000000</div>
          </ion-col>
        </ion-row>
        <!--ion-row>
          <ion-col>
            <div>BitCoin</div>
          </ion-col>
        </ion-row-->
        <ion-row>
          <ion-col col-12>
            <button class="btnHistory" ion-button small outline text-center (click)="Goto('history')">History</button>
            <button class="btnWithdrawl" ion-button small outline text-center (click)="Goto('withdraw')">Withdraw</button>
            <button class="btnDeposit" ion-button small outline text-center (click)="Goto('deposit')">Deposit</button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>
<ion-card class="cardBackground">
  <ion-card-content>
    <ion-row>
      <ion-col col-2 class="icon-container dash">
        <img class="coinIcon" src="assets/imgs/cryptoicn/dash.png">
      </ion-col>
      <ion-col col-10 text-center>
        <ion-row>
          <ion-col>
            <div style="float:right;">00000000</div>
          </ion-col>
        </ion-row>
        <!--ion-row>
            <ion-col>
              <div>Ethereum</div>
            </ion-col>
          </ion-row-->
        <ion-row>
          <ion-col col-12>
            <button class="btnHistory" ion-button small outline text-center (click)="Goto('history')">History</button>
            <button class="btnWithdrawl" ion-button small outline text-center (click)="Goto('withdraw')">Withdraw</button>
            <button class="btnDeposit" ion-button small outline text-center (click)="Goto('deposit')">Deposit</button>

          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>
<ion-card class="cardBackground">
  <ion-card-content>
    <ion-row>
      <ion-col col-2 class="icon-container doge">
        <img class="coinIcon" src="assets/imgs/cryptoicn/doge.png">
      </ion-col>
      <ion-col col-10 text-center>
        <ion-row>
          <ion-col>
            <div style="float:right;">00000000</div>
          </ion-col>
        </ion-row>
        <!--ion-row>
              <ion-col>
                <div>Litecoin</div>
              </ion-col>
            </ion-row-->
        <ion-row>
          <ion-col col-12>
            <button class="btnHistory" ion-button small outline text-center (click)="Goto('history')">History</button>
            <button class="btnWithdrawl" ion-button small outline text-center (click)="Goto('withdraw')">Withdraw</button>
            <button class="btnDeposit" ion-button small outline text-center (click)="Goto('deposit')">Deposit</button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>
<ion-card class="cardBackground">
  <ion-card-content>
    <ion-row>
      <ion-col col-2 class="icon-container eth">
        <img class="coinIcon" src="assets/imgs/cryptoicn/eth.png">
      </ion-col>
      <ion-col col-10 text-center>
        <ion-row>
          <ion-col>
            <div style="float:right;">00000000</div>
          </ion-col>
        </ion-row>
        <!--ion-row>
              <ion-col>
                <div>Dash</div>
              </ion-col>
            </ion-row-->
        <ion-row>
          <ion-col col-12>
            <button class="btnHistory" ion-button small outline text-center (click)="Goto('history')">History</button>
            <button class="btnWithdrawl" ion-button small outline text-center (click)="Goto('withdraw')">Withdraw</button>
            <button class="btnDeposit" ion-button small outline text-center (click)="Goto('deposit')">Deposit</button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>
<ion-card class="cardBackground">
  <ion-card-content>
    <ion-row>
      <ion-col col-2 class="icon-container ltc">
        <img class="coinIcon" src="assets/imgs/cryptoicn/ltc.png">
      </ion-col>
      <ion-col col-10 text-center>
        <ion-row>
          <ion-col>
            <div style="float:right;">00000000</div>
          </ion-col>
        </ion-row>
        <!--ion-row>
              <ion-col>
                <div>Dogecoin</div>
              </ion-col>
            </ion-row-->
        <ion-row>
          <ion-col col-12>
            <button class="btnHistory" ion-button small outline text-center (click)="Goto('history')">History</button>
            <button class="btnWithdrawl" ion-button small outline text-center (click)="Goto('withdraw')">Withdraw</button>
            <button class="btnDeposit" ion-button small outline text-center (click)="Goto('deposit')">Deposit</button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>