page-settings {
    .fixed-content {
        background: unset;
    }
    .settingCard{
        border-radius: 8px;
        text-align: center;
    }
    .settingIcon{
        font-size: 50px;
        color: #38bf9a;
    }

}