verify-pin{
  .pin{
    font-size: 3rem;
    width:100%;
    outline : none;
    color : transparent;
    text-shadow : 0 0 0 #000;
    text-align: center;
    letter-spacing: 2rem;
    // padding: inherit;
  }

  .twoPin{
    margin: 13px 8px;
    padding: 0;
    width: calc(100% - 8px - 8px);
    border: 4px solid #38bf9a;
    // color: #fff;
    background-color: #fff;
    border-radius: 30px;
    height: 1.6em;
    margin-bottom: 24px;
  }

  .list-md .item-block .item-inner{
    border-bottom: unset;
  }
  .item-input ion-input, .item-input ion-textarea {
    border-bottom: 2px solid #488aff;
    margin-left: 20px;
    margin-right: 20px;
  }
  .list-md .item-input:last-child{
    border-bottom: unset;
  }
  .list-md .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child, .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child{
    border-bottom-color: unset;
    box-shadow: unset;
  }
  
  .list-md .item-input.item-input-has-focus:last-child, .list-md .item-input-has-focus:last-child{
    border-bottom-color: unset;
    box-shadow: unset;
  }

  .text-input-md {
    text-align: center;
  }
  .verifyPinTxt{
    color: #fff;
    font-size: 2.4rem;
    text-align: center;
    padding-top: 10%;
  }
}
