crypto-currency-send {
    .title {
        font-size: 1.6rem;
        color: #000;
    }

    .fixed-content{
        background: unset;
    }
    .label{
        color: #38bf9a;
        text-align: center;
    }
}
