<ion-header>
  <ion-navbar>
    <ion-title class="navbarAppHead" style="padding-left:2em">FIAT WITHDRAWL</ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-title text-center>
    <!-- FIAT WALLET -->
  </ion-title>
  <ion-grid>
    <ion-row>
      <ion-col>
        <form [formGroup]="todo" (ngSubmit)="logForm()">
          <ion-item class="formInput">
            <ion-label></ion-label>
            <ion-input placeholder="Withdrawal Amount (2636)" [disabled]='!formActive' type="number" formControlName="withdrawalAmount"></ion-input>
          </ion-item>
          <ion-item class="formInput">
            <ion-label></ion-label>
            <ion-input placeholder="Name on Bank Account" [disabled]='!formActive' type="text" formControlName="nameofAccHolder"></ion-input>
          </ion-item>
          <ion-item class="formInput">
            <ion-label></ion-label>
            <ion-input placeholder="Bank Name" [disabled]='!formActive' type="text" formControlName="bankName"></ion-input>
          </ion-item>
          <ion-item class="formInput">
            <ion-label></ion-label>
            <ion-input placeholder="Bank A/C Number" [disabled]='!formActive' type="number" formControlName="accNo"></ion-input>
          </ion-item>
          <ion-item class="formInput">
            <ion-label></ion-label>
            <ion-input placeholder="Bank IFS Code" [disabled]='!formActive' type="text" formControlName="ifscCode"></ion-input>
          </ion-item>
          <ion-item class="formInput">
            <ion-label></ion-label>
            <ion-input placeholder="Bank Swift Code" [disabled]='!formActive' type="text" formControlName="swiftCode"></ion-input>
          </ion-item>
          <div class="outerDiv">
            <!-- <button class="customBtn" ion-button type="submit" [disabled]="!todo.valid">Submit</button> -->
            <button class="customBtn" ion-button type="submit" [hidden]="!formActive" [disabled]="!this.todo.valid">Submit</button>
          </div>
          <ion-label *ngIf="workinprogress" style="color:white; font-size: 20px; text-align: center;">Work in progress</ion-label>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf='twoStepActive'>
    <ion-row>
      <ion-col>
        <two-sf [sendTo]="sendTo"></two-sf>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
