<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="navbarAppHead" style="padding-right:4em">CAREER</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-title class="careerTitle">
          <h1>Our Openings</h1>
        </ion-title>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="card-content-career">
    <div class="insideDivCard">
      <ion-card>
        <ion-card-content>
          <ion-row>
            <ion-col col-3>
              <img src="assets/career/career1.png" />
            </ion-col>
            <ion-col col-9>
              <ion-row>
                <h2>Customer Support</h2>
              </ion-row>
              <ion-row>
                <ion-col><h4><ion-icon name="pin"></ion-icon> &nbsp;&nbsp;Singapore</h4></ion-col>
                <ion-col><h4><ion-icon name="time"></ion-icon>&nbsp;&nbsp;Time</h4></ion-col>
              </ion-row>
              <!-- <ion-row>
                <ion-col col-12 align-items-center>
                  <button class="careerBtn" ion-button small outline text-center (click)="Goto('withdraw')">Appy Now</button>
                </ion-col>
              </ion-row> -->
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-content>
          <ion-row>
            <ion-col col-3>
              <img src="assets/career/career2.png" />
            </ion-col>
            <ion-col col-9>
              <ion-row>
                <h2>Database Administrator</h2>
              </ion-row>
              <ion-row>
                  <ion-col><h4><ion-icon name="pin"></ion-icon> &nbsp;&nbsp;Singapore</h4></ion-col>
                  <ion-col><h4><ion-icon name="time"></ion-icon>&nbsp;&nbsp;Time</h4></ion-col>
              </ion-row>
              <!-- <ion-row>
                <ion-col col-12 align-items-center>
                  <button class="careerBtn" ion-button small outline text-center (click)="Goto('withdraw')">Appy Now</button>
                </ion-col>
              </ion-row> -->
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-content>
          <ion-row>
            <ion-col col-3>
              <img src="assets/career/career3.png" />
            </ion-col>
            <ion-col col-9>
              <ion-row>
                <h2>KYC Executive</h2>
              </ion-row>
              <ion-row>
                  <ion-col><h4><ion-icon name="pin"></ion-icon> &nbsp;&nbsp;Singapore</h4></ion-col>
                  <ion-col><h4><ion-icon name="time"></ion-icon>&nbsp;&nbsp;Time</h4></ion-col>
              </ion-row>
              <!-- <ion-row>
                <ion-col col-12 align-items-center>
                  <button class="careerBtn" ion-button small outline text-center (click)="Goto('withdraw')">Appy Now</button>
                </ion-col>
              </ion-row> -->
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>